@import "nullstyle";
@import "header";
@import "popup";
@import "modalFilter";
@import "swiper";
@import "discount";

.wrapper {
  min-height: 100%;
}

.container {
  padding: 0 15px;
  max-width: 1500px;
  margin: 0 auto;
  height: 100%;
}


/*------------------------------------------------*/

.content {
  margin-top: 80px;

  &__filter-btn {
    display: none;

    @media (max-width: 992px) {
      display: flex;
      justify-content: center;
      align-items: center;

      background-color: #3e77aa;
      font-family: Arial, sans-serif;
      font-size: 16px;
      color: white;
      height: 32px;
      width: 100px;
      border-radius: 5px;
      margin-bottom: 10px;
      letter-spacing: 1px;
    }
  }

  &__body {
    display: flex;
  }

  &__filter {
    border-bottom: 1px solid #DAD9D9FF;
    border-top: 1px solid #DAD9D9FF;
    flex-basis: 20%;

    @media (max-width: 992px) {
      display: none;
    }
  }

  &__title {
    font-size: 16px;
    font-family: Arial, sans-serif;
    padding: 20px 0;
    color: #3e77aa;
  }

  &__gallery {
    flex-basis: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &:after {
      content: "";
      flex: 0 0 230px;
    }

    @media (max-width: 992px) {
      flex-basis: 100%;
    }
  }

  &__column {
    flex: 0 0 230px;
  }

  &__item {
    height: 300px;
    padding: 20px;
    border: 1px solid #c2c2c2;
    transition: all .5s ease 0s;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
      background-color: #d2cece;
    }
  }

  &__brand {
    max-width: 250px;
    height: 400px;
    overflow: auto;
    margin-bottom: 30px;
  }

  &__cpu {
    max-width: 250px;
    height: 400px;
    overflow: auto;
    margin-bottom: 30px;
  }


  &__amount-ssd {
    max-width: 250px;
    height: 400px;
    overflow: auto;
    margin-bottom: 30px;
  }
}

/*------------------------------------------------*/

.item-image {
  width: 100%;
  margin-bottom: 30px;
}

.item-description {
  font-size: 14px;
  font-family: Arial, sans-serif;
  margin-bottom: 30px;
  padding-left: 10px;
}

.item-price {
  font-size: 20px;
  font-family: Arial, sans-serif;
  padding-left: 10px;
}

.item-price span {
  font-size: 16px;
}


.filter-item {
  margin: 0 0 15px 0;
  padding: 10px 10px 10px 5px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  border-radius: 5px;
}

.filter-item:hover {
  background-color: #ccc7c7;
}

.filter-item input {
  transform: scale(1.5);
}

.filter-label {
  display: inline-block;
  padding-left: 5px;
  position: relative;
  top: -1.5px;
}

/*----------------------------------------------*/




